.burger {
	position: relative;
	width: 24px;
	height: 18px;
	border: none;
	background: transparent;
	padding: 0;
}

.burger span,
.burger span::before,
.burger span::after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: var(--text-main);
	transition: transform 0.2s ease;
}

.burger span::before,
.burger span::after {
	content: "";
}

.burger span::before {
	top: -6px;
}

.burger span::after {
	bottom: -6px;
}

.header__burger {
	display: none;
}

@media (max-width: 768px) {
	.header__nav {
		display: none;
	}

	.header__burger {
		display: block;
		margin-left: 20px;
	}
}
